.outer-box{
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(255, 255, 255);
    
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    border-radius: 5%;
    padding: 5%;
}

.sign-up-box{
    padding: 5%;
    background-color: rgb(251, 251, 251);
}
.checkout-comp{
    padding: 5%;
    background-color: rgb(251, 251, 251);
}
